
* { 
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.title {
  font-weight: 900;
}

:root {
  --hue-neutral: 200;
}

.menu {
  padding-bottom: 200px;
}

.row {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

#high-score {
  float: left;
  list-style-type: none;
  font-weight: 900;
  color: white;
}

#time {
  float: right;
  list-style-type: none;
  font-weight: 900;
  color: white;
}

header {
  padding: 20px;
}

body {
  background-color: rgb(36, 73, 140)
}

.container {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 150px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  background-color: rgb(42, 136, 55);
  color: black;
}

.start-btn, .next-btn {
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.innerHTML {
  color: rgb(255, 255, 255);
}

