
* { 
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

header {
  padding: 20px;
}

body {
  background-color: rgb(36, 73, 140)
}

.title {
  font-weight: 900;
}

.menu {
  padding-bottom: 200px;
}

#previous-scores {
  font-weight: 900;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

#score-container {
  text-align: center;
  margin: auto;
  width: 50%;
  padding-top: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

#high-score {
  float: left;
  list-style-type: none;
  font-weight: 900;
  color: white;
}

#time {
  float: right;
  list-style-type: none;
  font-weight: 900;
  color: white;
}

.container {
  text-align: center;
  margin: auto;
  width: 70%;
  padding-top: 150px;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 10px 2px;
}

#answer-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.submit-score, .form, .retake {
  margin-top: 15px;
  font-weight: bold;
  margin-right: 2px;
}

.retake {
  margin-left: 2px;
}

.retake-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  cursor: pointer;
  border-color: transparent;
}

.btn:hover {
  font-weight: bold;
}

.btn.correct {
  background-color: rgb(42, 136, 55);
  color: black;
}

.start-btn, .next-btn, #high-score {
  font-weight: bold;
  padding: 10px 10px;
  cursor: pointer;
  border-color: transparent;
}

.start-btn {
  margin-top: 10px;
}

.start-btn:hover, .submit-score:hover, .next-btn:hover, #high-score:hover, #reload:hover, #retake:hover {
  transform: scale(1.1);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.innerHTML {
  color: rgb(255, 255, 255);
}

